@import "../variables";

.about {
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
        justify-content: space-between;

        .left {
        }

        .middle {
            align-self: center;

            @media screen and (min-width: 700px) {
                flex: 1 0 400px;
            }
        }

        .right {
            align-self: flex-end;
        }
    }

    .paragraphs {
        @media screen and (min-width: 700px) {
            display: flex;
        }
    }

    .footer {
        text-align: center;
        margin-top: 8rem;
    }
}