@import "../variables";

.bg-image {
    height: 300px;
    overflow: hidden;
    position: relative;
    background-image: url("../images/bg-color.png");
    background-size: cover;

    @media screen and (min-width:600px) {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    @media screen and (max-width: 599px) {
        margin-top: 3rem;
    }


    img {
        position: absolute;
        z-index: -1;

        @media screen and (min-width:901px) {
            bottom: -17rem;
        }

        @media screen and (min-width:700px) and (max-width:900px) {
            bottom: -8rem;
        }
    }
}