@import '../variables';

.hero {
    padding-top: 3rem;
    padding-bottom: 10rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/cait-m-portrait.jpg"), linear-gradient(to right, $ivory 50%, rgba(255, 255, 255, 0) 50%);
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: lighten;

    @media screen and (max-width: 599px) {
        padding-top: 0;
    }

    p {
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
    }
}

nav {
    display: flex;

    @media screen and (min-width: 600px) {
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 599px) {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        background-color: $red-wood;
    }

    a {
        display: inline-block;
        padding-left: 2rem;
        padding-right: 2rem;
        transition: transform 0.2s ease-in;

        &:hover {
            transform: translateY(-3px);
        }
    }
}

.hero-banner {
    background-color: $olive;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;

    p {
        font-style: italic;
        font-family: $serif;
        font-size: 1.842rem;
        margin-top: 0;
        
        @media screen and (min-width: 600px) {
            margin-bottom: 0;
        }

        @media screen and (max-width: 599px) {
            &:last-of-type {
                margin-bottom: 0.5rem;
            }
        }
    }
    
    .content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }
}

.burger {
    position: relative;
    width: 30px;
    height: 20px;
    background: transparent;
    cursor: pointer;

    input {
        display: none;
    }

    span {
        display: block;
        position: absolute;
        height: 2.5px;
        width: 100%;
        background: $ivory;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
    }

    span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }

    span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }

    input:checked {
        & ~ span:nth-of-type(1) {
            transform: rotate(45deg);
            top: 0px;
            left: 5px;
        }

        & ~ span:nth-of-type(2) {
            width: 0%;
            opacity: 0;
        }

        & ~ span:nth-of-type(3) {
            transform: rotate(-45deg);
            top: 22px;
            left: 5px;
        }
    }
}

.mobile-only {
    .nav-content {
        display: none;
    }
}