@import '../variables';

.hero {
    padding-top: 3rem;
    padding-bottom: 10rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/cait-m-portrait.jpg"), linear-gradient(to right, $ivory 50%, rgba(255, 255, 255, 0) 50%);
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: lighten;

    p {
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: inline-block;
        padding-left: 2rem;
        padding-right: 2rem;
        transition: transform 0.2s ease-in;

        &:hover {
            transform: translateY(-3px);
        }
    }
}

.hero-banner {
    background-color: $olive;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;

    p {
        font-style: italic;
        font-family: $serif;
        font-size: 1.842rem;
        margin-top: 0;
        
        @media screen and (min-width: 600px) {
            margin-bottom: 0;
        }

        @media screen and (max-width: 599px) {
            &:last-of-type {
                margin-bottom: 0.5rem;
            }
        }
    }
    
    .content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }
}