$sans-serif: Helvetica, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$serif: 'Playfair Display SC', Georgia, 'Times New Roman', Times, serif;

$ivory : #F6F1EC;
$olive: #717D56;
$olive-dark: #545E40;
$red-wood: #B36A5E;
$silverish: #8D9FAB;