@import "variables";
@import "sections/hero";
@import "sections/about";

:root {
    --orange: #f0ac75;
    --black: #000;
}

* {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    margin: 0;
    color: black;
    letter-spacing: 2px;
}

body, p {
    font-family: $sans-serif;
}

h1, h2, h3, h4 {
    font-family: $serif;
    font-weight: 400;
}

h1 { 
    font-size: 5rem; 
    margin-top: 10rem;

    & span {
        display: block;
        font-family: $sans-serif;
        text-transform: uppercase;
        letter-spacing: 8px;
    }
}
h2 { font-size: 1.842rem; }
h3 { font-size: 1.3572rem; }

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: #3d3d3d;
    }
}


img {
    display: block;
    max-width: 100%;
}


.w-container {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Mobiles Styles */
@media screen and (max-width: 500px) {
    * {
        font-size: 16px;
    }
    
    h1 { font-size: 2rem; }
    h2 { font-size: 1.4rem; }
    h3 { font-size: 1.2rem; }

    .section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .logo a {
        font-size: 1.5rem;
    }
    
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Tablet Styles */
@media screen and (min-width:499px) and (max-width:900px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:901px) {
    .content-container>:first-child {
        flex: 0 0 75%;
    }

    .container-images img {
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
}